.main {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 1rem;
}

.gallery {
  width: 90%;
  text-align: left;
}

.bottomBorderContainer {
  position: relative;
  width: 100%;
  height: 2px;
}

.bottomBorder {
  width: 100%;
  height: 2px;
  background-color: white;
  transform-origin: left;
}

.heading {
  margin: 0;
  margin-bottom: 3vw;
  text-align: left;
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-family: var(--font-ppeiko), sans-serif;
  background-color: white;
  padding: 0.5em 2em;
  display: inline-block;
}


